    @font-face {
        font-family: "IRANsans";
        src: url("FontsFree-Net-ir_sans.ttf");
    }
    
    * {
        font-family: "IRANsans";
    }
    
    .img-fluid {
        width: 100%;
        margin-top: -140px;
    }
    
    .nav-item i {
        margin-right: 15px;
    }
    
    a[class="btn btn-primary"] {
        background: rgb(214, 26, 26);
        width: 120px;
        margin: 8px;
    }
    
    .star {
        display: flex;
        width: 100%;
        margin: 10px;
        position: absolute;
        left: -65%;
        color: rgb(255, 215, 0);
    }
    
    .star [class="bi bi-star-fill star-black"] {
        color: rgb(114, 114, 114);
    }
    
    .bi-star-fill {
        margin-right: 3px;
    }
    
    .wrapper .button {
        display: inline-block;
        height: 60px;
        width: 60px;
        float: left;
        margin: 0 5px;
        overflow: hidden;
        color: white;
        background-color: rgba(71, 4, 85, 0.973);
        border-radius: 50px;
        cursor: pointer;
        box-shadow: 0px 10px 10px;
        transform: all 0.3s ease-out;
    }
    
    .wrapper .button:hover {
        width: 110px;
    }
    
    .wrapper .button .icons {
        float: left;
        display: inline-block;
        height: 60px;
        width: 60px;
        border-radius: 50px;
        text-align: center;
        box-sizing: border-box;
        line-height: 60px;
    }
    
    .button i {
        font-size: 25px;
        line-height: 60px;
    }
    
    .wrapper .button span {
        font-size: 20px;
        font-weight: 300;
        line-height: 60px;
        margin-top: 10px;
        margin-right: 10px;
    }
    
    h5 {
        font-size: 15px;
        text-align: center;
        margin-top: 14px;
    }
    
    .careds,
    .phone-card {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .card {
        box-shadow: 10px 5px 5px rgb(167, 167, 164);
        margin-top: 15px;
    }
    
    .main {
        margin-top: 15px;
    }
    
    .card-img-top {
        margin: 10px auto;
    }
    
    .phone-card .card-img-top {
        max-width: 199px;
    }
    
    .teh {
        margin-top: 20px;
        font-size: 30px;
        text-decoration: underline red;
    }
    
    footer {
        margin-top: 20px;
    }